@import url('normalize.css');

/* reset css */
* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  list-style-type: none;
}


a,
a:visited {
  text-decoration: none;
  color: #ffffff;
}

h1,
p,
ul {
  margin: 0;
}

button {
  background: none;
}

img {
  object-fit: cover;
}

/* styles */

@font-face {
  font-family: 'preah';
  src: url('./assets/fonts/Preahvihear-Regular.ttf');
}

:root {
  --main-violet: #11071F;
  --secondary-violet: #1A0B2E;
  --text-color: #ffffff;
  --text-accent: #7127BA;
}

body {
  background-color: var(--main-violet);
  color: #ffffff;
  font-family: 'preah';
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.main-cont {
  max-width: 1400px;
  margin: 0 0 0 20%;
}

.violet {
  color: var(--text-accent);
}
